# Import libraries

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Import data

In [2]:
spam = pd.read_csv('spam.csv', encoding='latin1')
spam

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
spam=spam.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)

In [4]:
spam

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
spam= spam.rename(columns={"v1": "target", "v2":"text"})
spam

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Data Preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

In [7]:
spam['target']=encoder.fit_transform(spam['target'])

In [8]:
spam

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
spam.target.value_counts()

target
0    4825
1     747
Name: count, dtype: int64

In [10]:
spam.describe()

            target
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [11]:
spam.shape

(5572, 2)

In [12]:
spam.isnull().sum()

target    0
text      0
dtype: int64

In [13]:
spam.duplicated().sum()

403

In [14]:
spam = spam.drop_duplicates(keep='first')

In [15]:
spam.duplicated().sum()

0

In [16]:
spam.shape

(5169, 2)

In [18]:
x= spam['text']
y=spam['target']

In [20]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: text, Length: 5169, dtype: object

In [21]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5169, dtype: int32

# Model selection and Model Training

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size=0.2, random_state=42 )

In [24]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4135,), (1034,), (4135,), (1034,))

In [25]:
# feature extraction

feature_extraction= TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

In [26]:
y_train= y_train.astype('int')
y_test= y_test.astype("int")

In [28]:
print(x_train_features)

  (0, 3545)	0.7455593142248959
  (0, 2588)	0.6664392762829205
  (2, 6589)	0.3136674984299076
  (2, 4696)	0.29654379102529516
  (2, 4002)	0.6378379419700079
  (2, 6999)	0.6378379419700079
  (3, 564)	0.2785767488573773
  (3, 1534)	0.23384958966251285
  (3, 52)	0.26549489341098675
  (3, 4344)	0.22076773421612225
  (3, 6770)	0.2300494583671639
  (3, 251)	0.19582167067522926
  (3, 4299)	0.18532229917229942
  (3, 4630)	0.26549489341098675
  (3, 1997)	0.26549489341098675
  (3, 516)	0.19460402332334106
  (3, 4419)	0.2562131692599451
  (3, 271)	0.23384958966251285
  (3, 5450)	0.2300494583671639
  (3, 3941)	0.18912243046764834
  (3, 5171)	0.20953002785296104
  (3, 3168)	0.19120469004402674
  (3, 4954)	0.23384958966251285
  (3, 1553)	0.20428654549041733
  (3, 6938)	0.19708708091575408
  :	:
  (4132, 1825)	0.3605065932469792
  (4132, 4696)	0.3418197199207224
  (4133, 5893)	0.376872105216547
  (4133, 4973)	0.36369662422743665
  (4133, 2451)	0.376872105216547
  (4133, 901)	0.36369662422743665
  (4133, 4029)	0.27296922168195425
  (4133, 4303)	0.2797666732547047
  (4133, 3930)	0.19090886726821316
  (4133, 2550)	0.326557029270423
  (4133, 4007)	0.2670514851432264
  (4133, 6192)	0.21536918062740018
  (4133, 6589)	0.19446518344396782
  (4134, 45)	0.36133141627364085
  (4134, 6198)	0.34436343393010593
  (4134, 216)	0.34436343393010593
  (4134, 6543)	0.29397934692144273
  (4134, 5512)	0.31535647652238075
  (4134, 799)	0.31535647652238075
  (4134, 5715)	0.3033175014581906
  (4134, 6069)	0.2508916342134232
  (4134, 4013)	0.26098383065689107
  (4134, 1895)	0.2301166472830892
  (4134, 4139)	0.20748487401135496
  (4134, 6867)	0.16697204675649222

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model= LogisticRegression()

In [36]:
model.fit(x_train_features,y_train)

LogisticRegression()

# Model Testing and Prediction

In [38]:
# prediction for train data

pred= model.predict(x_train_features)
accuracy= accuracy_score(y_train,pred)

In [39]:
print(accuracy)

0.9613059250302297

In [40]:
# pred for test data

prediction= model.predict(x_test_features)
accuracy= accuracy_score(y_test,prediction)

In [41]:
print(accuracy)

0.9642166344294004